* {
  box-sizing: border-box;
}

html, body {
  background-color: #F2F2F2;
}

header {
  position: relative;
  width: 100%;
  background-color: #000;
  color: #CCC;
  font-size: 20px;
  padding: 10px;
  span {
    text-transform: uppercase;
    color: #FFF;
  }
}

#scoreBoard {
  position: relative;
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  background-color: #F8F8F8;
  margin-top: 20px;
  border: 1px solid #999;
}

.board-header {
  position: relative;
  width: 100%;
  overflow: hidden;
  background-color: #CCC9C9;
  div {
    font-weight: bold;
    padding: 10px;
    float: left;
    &.board-frame {
      background-color: #CCC9C9;
    }
  }
}

.player-row {
  position: relative;
  width: 100%;
  overflow: hidden;
  background-color: #F2F2F2;
  div {
    &.board-frame, &.board-player, &.board-score {
      border-top: 1px solid #999;
      padding: 10px;
      float: left;
      height: 85px;
    }
  }
  .frame-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    .frame-roll {
      position: relative;
      float: right;
      border-left: 1px solid #999;
      border-bottom: 1px solid #999;
      height: 25px;
      width: 25px;
      padding: 5px;
    }
  }
  .board-player {
    cursor: pointer;
    &:hover {
      background-color: #DDD;
    }
  }
}

.board-player {
  width: 198px;
}
.board-frame {
  width: 80px;
  text-align: center;
  border-left: 1px solid #999;
  background-color: #FFF;
}
.board-score {
  width: 80px;
  text-align: center;
  border-left: 1px solid #999;
}

.final-frame {
  width: 100px;
}
